<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>GistBoard</title>
</head>

<body>

  <div class="clearfix">
    <div class="navbar">
      <div class="navbar-inner">
        <h1>GistBoard</h1>
      </div>
    </div>

    <div class="container">

      <div class="info-panel grid_1">
        <div class="grav-img">
					
          <a href="<%=gist_container.user.get_url%>" >
						
            <img class="user-grav" src="<%=gist_container.user.get_gravatar_url %>">
          </a>
					
        </div>
        <div class="user-info">
          <div class="info-sub-panel">
            <a class="username-link" href="<%=gist_container.user.get_url %>" <h2><%= gist_container.user.username %></h2></a>
          </div>
          <div class="all-stats">
            <div class="stat">
              <h3><%=gist_container.gist_count %></h3>
              <p>Total Gists</p>
            </div>
            <div class="stat">
              <h3><%=gist_container.comment_count %></h3>
              <p>Total Comments</p>
            </div>
          </div>
        </div>
      </div>

      <div class="content grid_3">
        <div class="gist-table">
          <div class="table-header">
            <h2>Gists</h2>
          </div>
          <table>

            <% gist_container.container.each_with_index do |gist, index|  %>
            <% if index == (gist_container.container.length - 1) %>
            <tr>
              <td class="file"><div class="wrap"><a href="<%= gist.url %>"><%= gist.file %></a></div></td>
            </tr>
            <tr>
              <td class="comments last"><a href="<%= gist.url %>#comments" class="com-link">Comments: <span class="com-count"><%= gist.num_of_comments %></span></a> / Latest: <%= gist.most_recent_comment_date %></td>
            </tr>
            <% else %>
            <tr>
              <td class="file"><div class="wrap"><a href="<%= gist.url %>"><%= gist.file %></a></div></td>
            </tr>
            <tr>
              <td class="comments"><a href="<%= gist.url %>#comments" class="com-link">Comments: <span class="com-count"><%= gist.num_of_comments %></span></a> / Latest: <%= gist.most_recent_comment_date %></td>
            </tr>
            <% end %>
            <% end %>

          </table>
        </div>
      </div>


      <div class="keep-for-test">
        <p>
          We're going to now talk to the GitHub API. Ready?
          <a href="/auth">Click here</a> to begin!</a>
        </p>
        <p>
          If that link doesn't work, remember to provide your own <a href="/v3/oauth/#web-application-flow">Client ID</a>!
        </p>
      </div>
    </div>
  </div>
</body>
</html>